$sidebar-width: 50%;
$main-width: 50%;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.main-content {

}

.sidebar {
    width: $sidebar-width;
    float: left;
    position: fixed;
    height: 100%;
    background-color: $primary-dark-light;
    color: #fff;

    * {
        font-family: 'Open Sans', sans-serif !important;
    }

    .sidebar__container {
        max-width: 40%;
        float: right;
        text-align: left;
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 20px;
        }
    }
}

.topbar {
    width: 70%;
    float: left;
    margin-left: $sidebar-width;
}

.main {
    width: $main-width;
    float: left;
    margin-left: $sidebar-width;
    min-height: 100vh;
    padding: 30px;
    background: $primary-dark;
    text-align: justify;
    h3 {
        margin: 0;
        text-align: left;
    }
    p {
        margin: 0;
        font-size: 14px;
      &.indent {
          text-indent: 10px;
      }
    }

    a {
        text-decoration: underline;
    }

    * {
        color: #fff;
    }
    &__container {
        width: 60%;
    }
}

p {
  margin: 0;
}

span {
  font-size: 12px;
}

.fluid-row {
  @include grid-row();
  max-width: 100%;
}

.tabs {
    margin-top: 30px;
    dd {
        width: 50%;
        text-align: center;
        a {
            background: #242739;
            text-decoration: none;
            &:hover {
                background: #33454E;
            }
        }
        &.active {
            a {
                background-color: #413E4A;
            }
        }
    }
}