<a ui-sref="application.main">/leave Portfolio</a>


<div class="fluid-row">
    <tabset>
        <tab>
            <tab-heading>Novo App</tab-heading>
            <h4>Novo Basal Start</h4>
            <p>
                Novo Nordisk is a pharmaceutical company that makes insulin.

                <br>

                For Novo I built a presentations WebApp or a Slideshow so to speak. It was made in a way so that the client
                with little knowledge of JSON, easily can swap the content themself. The process was a bit complex as I had
                to think in a new way.

                <!-- This is so dirty, but an easy way to make this break :c – Please don't judge me world -->
                <br><br>

                The Novo WebApp is built with modern technologies, AngularJS for the frontend. There is no backend however, so
                to fake a working database, we use data.json files for a dataset. The data set is able to be changed by the client,
                so they can change the content. Each page consists of an array with either objects or other arrays inside.

                For the AngularJS part, I used the Ionic framework as it needed to be easily ported to iPads, and it works offline.
                Ionic uses phonegap, with phonegap I could also have ported it to iPhone and Android devices.

                <!-- This is so dirty, but an easy way to make this break :c – Please don't judge me world -->
                <br><br>
                I made a gif quickly walking through the application
            </p>
            <img src="assets/novo.gif" alt=""/>
        </tab>
        <tab>
            <tab-heading>Lokalbolig</tab-heading>
            <h4>Lokalbolig</h4>
            <p>
                Lokalbolig is a realestate broker website, where it's possible for sellers to add their properties
                and for potential buyers to look at different properties.<br>

                The site is built with modern technologies, AngularJS for the frontend together with Foundation to cover
                the initial grid. The backend is controlled with PHP and a mySQL database.

            </p>

            <!-- This is so dirty, but an easy way to make this break :c – Please don't judge me world -->
            <br><br>

            <p>
                Through the development of the site, I worked as a frontend developer together with another frontend developer.
                We worked close together to ensure we were on par with each others code. We did code reviews every second day
                to ensure the quality in our code. We followed the standards for CSS with SMACSS and BEM to control our classes
                and make the code readable both in the HTML and in the CSS – Keeping it semantic!<br>

                The JavaScript part was build with AngularJS. We followed a modular process, which we found in the styleguide
                of John Papa

                <!-- This is so dirty, but an easy way to make this break :c – Please don't judge me world -->
                <br><br>

                <a href="http://lokalbolig.dk">Lokalbolig</a> The site is in Danish, so if you have any questions, feel free to ask and I will help to the best of my ability
            </p>
        </tab>
    </tabset>
</div>

