<div class="sidebar__container">
    <div class="row">
        <div class="fluid-row">
            <img src="assets/profilepic.jpg" alt=""/>
        </div>
        <div class="fluid-row">
            <p>Oliver Stenkilde Munkebo</p>
            <p>P W Tegners Vej 30</p>
            <p>Snekkersten 3070 Denmark
                <br>
                <span>My Hearthstone is ready for changing place</span>
            </p>
            <p>+45 29 62 08 29</p>
            <p><a href="mailto:hello@stenkil.de">hello@stenkil.de</a></p>
            <p><a ui-sref="application.resume">CV</a></p>
            <p><a ui-sref="application.portfolio">Portfolio</a></p>
        </div>
    </div>
</div>