<div class="main__container">

    <h3>Starcall Oliver Stenkilde, seeking to join the ranks of Blizzard with his level 700 Web Engineering</h3>

    <p>
        My name is Oliver and I am ready and willing to take the seat as your next Web Engineer on the team.
        <br>
        I am the perfect match for this position  and here is why:
    </p>

    <br>

    <p>
        In my years of experience as a developer in one of Denmark’s most aspiring tech companies, whose clients counts
        the like of Novo Nordisk, Tuborg & Lego, I have aquired, tried and tested flair for quality development.
        In addition to this, I have also developed a personal taste for good design.<br></p>
    <p class="indent">
        The synergy of the two along with my drive to take on any challenge, regardless of the size and scope, is one
        of the main reasons why I would fill out this role so well. These traits make for a holistic skillset that
        I would be more than happy to contribute to the team with.
    </p>

    <br>

    <p>
        Furthermore, I believe that your team would be able to give me the resources to grow above and beyond the
        knowledge currently have , and I am convinced that both parties can explore and learn
        from such a synergy. When it comes to frontend development, I have a dedicated, hands-on experience with a wide
        variety of custom digital products. These range from fine-tuned applications to fully established industry
        leading websites and larger, custom-tailored corporate solutions.
    </p>

    <br>

    <p>
        To get specific - I have touched on a wide scope of technologies including WebSockets, AngularJS, ReactJS,
        NodeJS, Responsive Web design, animated websites, several CSS frameworks and CSS preprocessors (SCSS & LESS),
        as well as HTML preprocessors such as Jade. Within the group, I can contribute as a reliable and trusted
        team member, who will work together with my teammates regardless of what struggles we may face along the way.
        Ever since I had my very first experience with BattleNet, I have had this instant feeling that I somehow wanted
        to become a part of that world. That feeling, which was a huge drive force for me when I picked my education,
        will remain a key motivator for me while working in your team.
    </p>

    <br>

    <p>
        Finally, I would like to thank you for your time. I have invested a lot of effort and ambition in this, and I’m looking forward to your reply. Hopefully I can begin my bright career at Blizzard Entertainment as your next Web Engineer. I believe I can really bring something to it.
    </p>

    <br>

    <h5>
        Best Regards
        <br>
        Oliver Stenkilde
    </h5>

    <br>

    <p>Still not convinced?
        <br>
        <a href="assets/nodes_recom.pdf" target="_blank"><span>My former employer Nodes have made a recommendation for me PDF</span></a>
    </p>

</div>