<a ui-sref="application.main">/leave Curriculum Vitae</a>

        <h3>Work experience</h3>
        <ol>
            <li>
                <h4>Kvickly – Service Work: 2010-2012.</h4>
                <p>
                    At Kvickly(Supermarket) I worked as a Service worker. My worked included helping customers <br>
                    keeping the storage tidy and cleaning up whenever needed. I also helped with ADHOC things.
                </p>
            </li>
            <li>
                <h4>Nodes – Frontend Developer: 2013-2015</h4>
                <p>
                    At Nodes I worked as a Frontend Developer, as a realible and trusted team member.
                    For a full report of my work at Nodes a recommendation is attached. <a class="no-bg" target="_blank" href="assets/nodes_recom.pdf">PDF</a>
                </p>
            </li>
            <li>
                <h4>GEEKcore – Volunteer and organiser: 2014-Ongoing</h4>
                <p>
                    At GEEKcore I work as a volunteer and organiser for events. GEEKcore is a festival in Denmark <br>
                    with focus on nerdy and geeky culture. I started working with comics, and have since then <br>
                    grown into a more organising role and organise a gameroom with tournaments in several games.
                </p>
            </li>
        </ol>

        <hr>

        <h3>Education</h3>
        <ol>
            <li>Primary School: 2000-2010</li>
            <li>Copenhagen Technical College - Graphic Design: 2010-2015</li>
            <ol>
                <li>Optional courses</li>
                <li>WebApps - A+</li>
                <li>Frontend Design - A+</li>
                <li>Frontend Interactivity A+</li>
            </ol>
        </ol>
